<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php">
   <testsuites>
        <testsuite name="Upload Flysystem Storage Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>./Flysystem.php</file>
        </whitelist>
    </filter>
    <logging>
    <log type="coverage-html" target="./coverage" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
